@page
@model BooksApp.Areas.Admin.Pages.Books.IndexPage

@{
    Layout = "_Layout";
    ViewData["Title"] = "Books";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1>@ViewData["Title"]</h1>
                    <a class="btn btn-primary mb-3" asp-page="Create">Add book</a>
                    <a class="btn btn-primary mb-3" asp-page="CreateApi">Add book (API)</a>

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Publisher</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var book in Model.Books)
                                {
                                    <tr>
                                        <td>@book.Id</td>
                                        <td>
                                            <a asp-page="Details" asp-route-id="@book.Id">
                                                @book.Title
                                            </a>
                                        </td>
                                        <td>@book.Author?.FullName</td>
                                        <td>@book.Publisher?.Name</td>
                                        <td>
                                            <a class="btn btn-dark" asp-page="Update" asp-route-id="@book.Id">
                                                <i class="fa-solid fa-pen me-1"></i>
                                                Edit
                                            </a>
                                            <button class="btn btn-danger"
                                                    data-book-delete="@book.Id"
                                                    data-book-name="@book.Title">
                                                <i class="fa-solid fa-trash-can me-1"></i> Delete
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        defer(() => {
            const buttons = document.querySelectorAll('[data-book-delete]');
            
            buttons.forEach(button => {
                button.addEventListener('click', async () => {
                    const { bookDelete: bookId, bookName } = button.dataset;
                    
                    const hasConfirmed = await displayConfirmation(
                        'Delete book',
                        `Do you want to delete the book '${bookName}'?`
                    );
                    
                    if (hasConfirmed) formSubmit(`/Admin/Books/Delete/${bookId}`);
                });
            });
        });
    </script>
}
