@page
@model BooksApp.Areas.Admin.Pages.Publishers.IndexPage

@{
    Layout = "_Layout";
    ViewData["Title"] = "Publishers";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1>@ViewData["Title"]</h1>
                    <a class="btn btn-primary mb-3" asp-page="Create">Add publisher</a>

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var publisher in Model.Publishers)
                                {
                                    <tr>
                                        <td>@publisher.Id</td>
                                        <td>@publisher.Name</td>
                                        <td>
                                            <button class="btn btn-danger"
                                                    data-publisher-delete="@publisher.Id"
                                                    data-publisher-name="@publisher.Name">
                                                <i class="fa-solid fa-trash-can me-1"></i> Delete
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        defer(() => {
            const buttons = document.querySelectorAll('[data-publisher-delete]');
            
            buttons.forEach(button => {
                button.addEventListener('click', async () => {
                    const { publisherDelete: publisherId, publisherName } = button.dataset;
                    
                    const hasConfirmed = await displayConfirmation(
                        'Delete publisher',
                        `Do you want to delete the publisher '${publisherName}'?`
                    );
                    
                    if (hasConfirmed) formSubmit(`/Admin/Publishers/Delete/${publisherId}`);
                });
            });
        });
    </script>
}
