@model Book
@{
    ViewData["Title"] = "Book details";
}

<div>
    <a class="btn btn-dark mb-3" asp-action="Index"><i class="fa-solid fa-left-long"></i> Go back</a>
    <h1 class="display-4">Book details</h1>
    <h2 class="mb-4">@Model.Title</h2>
    @if (Model.Author is not null)
    {
        <p>by @Model.Author.FullName</p>
    }
    <p>@Model.Pages page(s)</p>
    <p>ISBN: @Model.ISBN</p>
    <p>Publisher: @Model.Publisher</p>
    <p>Publish year: @Model.PublishYear</p>
    <p>Created at: @Model.CreatedAt</p>
    @if (Model.UpdatedAt.HasValue)
    {
        <p>Updated at: @Model.UpdatedAt</p>
    }
</div>

