@model ICollection<Book>
@{
    ViewData["Title"] = "Books";
}

<div>
    <h1 class="text-center display-4">Books</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publish Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@book.Id">@book.Title</a>
                    </td>
                    <td>
                        @if (book.Author is not null)
                        {
                            <span>@book.Author.FullName</span>
                        }
                        else
                        {
                            <span><i>None</i></span>
                        }
                    </td>
                    <td>@book.PublishYear</td>
                </tr>
            }
        </tbody>
    </table>
</div>
