@model PagedList<Book>
@{
    ViewData["Title"] = "Books";
}

<div>
    <h1 class="text-center display-4">Books</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publish Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@book.Id">@book.Title</a>
                    </td>
                    <td>
                        @if (book.Author is not null)
                        {
                            <span>@book.Author.FullName</span>
                        }
                        else
                        {
                            <span>
                                <i>None</i>
                            </span>
                        }
                    </td>
                    <td>@book.PublishYear</td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Books page navigation">
        <ul class="pagination">
            @if (Model.HasPrevious)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="Book"
                       asp-action="PagedIndex"
                       asp-route-page="@(Model.PageNumber - 1)"
                       asp-route-size="@Model.PageSize">
                        Previous
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            }
            <li class="page-item disabled">
                <a class="page-link">@Model.PageNumber</a>
            </li>
            @if (Model.HasNext)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="Book"
                       asp-action="PagedIndex"
                       asp-route-page="@(Model.PageNumber + 1)"
                       asp-route-size="@Model.PageSize">
                        Next
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>
